<body>
  <div class="container">
    <img class="avatar" src="../../assets/img/Espe-Angular-Logo.o.png" alt="logo-ESPE">
    <form >
      <div class="form-group">
        <label class="control-label" for="usuario">USUARIO</label>
        <input id="user" type="text" name="usuario" placeholder="Usuario" required>  
      </div>  
          
      <div class="form-group">
        <label class="control-label" for="contraseña">CONTRASEÑA</label>
        <input  type="password" name="contraseña" id="password" placeholder="Contraseña" required>
      </div>
      <button type="submit" id="ingresar" class="btn btn-primary" (click)="btnClickHome()">Ingresar</button>  
    </form>
  </div>
</body>



