body {
    margin: 0;
    padding: 0;
    background: url(/assets/img/imagen5.JPG) no-repeat center top;
    background-size: cover;
    display: flex;
    min-height: 100vh; 
}

.container{
    margin: auto;
    width: 50%;
    max-width: 500px;
    padding: 40px;
    background: gainsboro;
    border: 3px solid rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
}

input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

.container .avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.container label{
    margin-top: 10%;
    padding: 0;
    font-weight: bold;
    display: block;
    color: green;
    font-family: Arial;
}

button{
    margin: auto;
    text-align: center;
    border-radius: 20px;
    width: 100%;
}

@media(max-width:768px){
    form button{
        width: 75%;
    }
}


@media(max-width:480px){
    form button{
        width: 95%;
    }
}