<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Espemático</h4>
              <p class="card-category">Sistema para realizar pagos ESPE.</p>
          </div>
          <div class="card-body">
              <div class="row">
                 
                  <div class="col-md-4 col-sm-4 offset-md-1">
                      <img src="../../assets/img/Espe-Ionic-Logo.png" alt="Place to pay ESPE" class="img img-fluid pull-center">
                  </div>
              </div>
          </div>
      </div>
  </div>