.carousel-inner,.bd-example, .carousel, .img1, .img2, .img3{
    top: 25px;
    height: 500px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.carousel-caption{
    padding: 0;
}

